* { outline: none; user-select: none; }
.swal2-modal { background: #444; }
.swal2-title { color: white; }
.swal2-content { color: white; }
html {
  overflow: auto;
}
body {
  margin: 0;
  background-color: #232425;
  color: white;
  min-height: 100vh;
}

input.underline {
  background: transparent;
  color: white;
  font-weight: bold;
  border: 2px solid #aaa;
  border-style: none none solid none;
  padding: 3px 10px;
  margin: 5px 5px;
  transition: all 0.5s ease;
}

input.underline:focus {
  border-color: white;
}

button.label {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px;
  font-weight: bold;
  box-shadow: #111 1px 1px 2px;
  transition: all 0.5s ease;
}

button.label:hover {
  box-shadow: #111 2px 2px 4px;
}
